
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Share/HomeLayout.cshtml";


}
@model DTO.GeneralDTO

<!-- ##### Vizew Post Area Start ##### -->
<div class="slidershow">
    <div class="main-image"></div>
    <div class="thumbnails">
        <div class="thumbnail" data-index="0"></div>
        <div class="thumbnail" data-index="1"></div>
        <div class="thumbnail" data-index="2"></div>
    </div>
    <div class="slider-content">
        <h1 class="title"></h1>
        <br />
        <p class="description">Welcome to our course website! We offer a variety of expert-led courses designed to cater to every level of learner. Explore our platform and start learning today!</p>
        <button class="scroll-button">Explore Courses</button>

    </div>

</div>
<section class="vizew-post-area mb-50" id="courses-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-7 col-lg-8">
                <div class="all-posts-area">
                    <!-- Section Heading -->
                    <div class="section-heading style-2">
                        <h4></h4>
                        <div class="line"></div>
                    </div>
                    <div class="vizew-pager-area">
                        <div class="vizew-pager-prev">
                            <p>ADVERTISEMENT !</p>

                            <!-- Single Feature Post -->
                            <div class="single-feature-post video-post bg-img pager-article">

                                <img src="~/Areas/Admin/Content/QC_Image/@Model.Adslist[0].ImagePath" alt="" style="width: 100%; height: 100%">

                                <div class="post-content">
                                    <a href="#" class="post-cata cata-sm cata-success">ADS</a>
                                    <a href="@Model.Adslist[0].Link" class="post-title">Click for details</a>
                                </div>

                            </div>
                        </div>

                        <div class="vizew-pager-next">
                            <p>ADVERTISEMENT !</p>

                            <!-- Single Feature Post -->
                            <div class="single-feature-post video-post bg-img pager-article">
                                <img src="~/Areas/Admin/Content/QC_Image/@Model.Adslist[1].ImagePath" alt="" style="width: 100%; height: 100%">


                                <div class="post-content">
                                    <a href="#" class="post-cata cata-sm cata-success">ADS</a>
                                    <a href="@Model.Adslist[1].Link" class="post-title">Click for details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Featured Post Slides -->
                    <div class="featured-post-slides owl-carousel mb-30">
                        @foreach (var item in Model.SliderPost)
                        {
                            <div class="single-feature-post video-post bg-img" style="background-image: url(/Areas/Admin/Content/PostImage/@item.ImagePath);">
                                <!-- Play Button -->
                                <!-- Post Content -->
                                <div class="post-content">
                                    <a href="@Url.RouteUrl("Category", new { @CategoryName = BLL.SeoLink.GenerateUrl(item.CategoryName) })" class="post-cata">@item.CategoryName</a>
                                    <a href="@Url.RouteUrl("PostDetail", new { @ID = item.ID, @CategoryName = BLL.SeoLink.GenerateUrl(item.CategoryName), @SeoLink = item.SeoLink })" class="post-title">@item.Title</a>
                                    <div class="post-meta d-flex">
                                        <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>@item.CommentCount</a>
                                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> @item.ViewCount</a>

                                    </div>
                                </div>

                                <!-- Video Duration -->
                                <span class="video-duration">DusTin Nguyen</span>
                            </div>
                        }
                        <!-- Single Feature Post -->


                    </div>


                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <!-- Section Heading -->
                            <div class="section-heading style-2">
                                <h4>Most Viewed Tranings</h4>
                                <div class="line"></div>
                            </div>

                            <!-- Sports Video Slides -->
                            <div class="sport-video-slides owl-carousel mb-50">
                                <!-- Single Blog Post -->
                                @foreach (var item in Model.MostViewedPost)
                                {
                                    <div class="single-post-area">
                                        <!-- Post Thumbnail -->
                                        <div class="post-thumbnail">
                                            <img src="~/Areas/Admin/Content/PostImage/@item.ImagePath" alt="">

                                            <!-- Video Duration -->
                                            <span class="video-duration" style="color: red;">HOT</span>
                                        </div>

                                        <!-- Post Content -->
                                        <div class="post-content">
                                            <a href="@Url.RouteUrl("Category", new { @CategoryName = BLL.SeoLink.GenerateUrl(item.CategoryName) })" class="post-cata cata-sm cata-success">@item.CategoryName</a>
                                            <a href="@Url.RouteUrl("PostDetail", new { @ID = item.ID, @CategoryName = BLL.SeoLink.GenerateUrl(item.CategoryName), @SeoLink = item.SeoLink })" class="post-title">@item.Title</a>
                                            <div class="post-meta d-flex">
                                                <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> @item.CommentCount</a>
                                                <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> @item.ViewCount</a>
                                                @*<a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 22</a>*@
                                            </div>
                                        </div>
                                    </div>
                                }


                                <!-- Single Blog Post -->

                            </div>
                        </div>

                        <div class="col-12 col-lg-6">
                            <!-- Section Heading -->
                            <div class="section-heading style-2">
                                <h4>Popular Trainings</h4>
                                <div class="line"></div>
                            </div>

                            <!-- Business Video Slides -->
                            <div class="business-video-slides owl-carousel mb-50">
                                <!-- Single Blog Post -->
                                @foreach (var item in Model.PopularPost)
                                {
                                    <div class="single-post-area">
                                        <!-- Post Thumbnail -->
                                        <div class="post-thumbnail">
                                            <img src="~/Areas/Admin/Content/PostImage/@item.ImagePath" alt="">

                                            <!-- Video Duration -->
                                            @*<span class="video-duration">Learn Now</span>*@
                                        </div>

                                        <!-- Post Content -->
                                        <div class="post-content">
                                            <a href="@Url.RouteUrl("Category", new { @CategoryName = BLL.SeoLink.GenerateUrl(item.CategoryName) })" class="post-cata cata-sm cata-primary">@item.CategoryName</a>
                                            <a href="@Url.RouteUrl("PostDetail", new { @ID = item.ID, @CategoryName = BLL.SeoLink.GenerateUrl(item.CategoryName), @SeoLink = item.SeoLink })" class="post-title">@item.Title</a>
                                            <div class="post-meta d-flex">
                                                <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> @item.CommentCount</a>
                                                <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> @item.ViewCount</a>
                                                <a href="#"><i class="fa fa-bell" aria-hidden="true"></i> Learn now</a>
                                            </div>
                                        </div>
                                    </div>
                                }



                            </div>
                        </div>
                    </div>



                </div>
            </div>

            <div class="col-12 col-md-5 col-lg-4">
                <div class="sidebar-area">
                    <br />
                    <!-- ***** Single Widget ***** -->
                    <div class="single-widget mb-50">
                        <!-- Section Heading -->
                        <div class="section-heading style-2 mb-30">
                            <h4>Breaking Trainings</h4>
                            <div class="line"></div>
                        </div>

                        <!-- Single Blog Post -->
                        @foreach (var item in Model.BreakingPost)
                        {
                            <div class="single-blog-post d-flex">
                                <div class="post-thumbnail">
                                    <img src="~/Areas/Admin/Content/PostImage/@item.ImagePath" alt="">
                                </div>
                                <div class="post-content">
                                    <a href="@Url.RouteUrl("PostDetail", new { @ID = item.ID, @CategoryName = BLL.SeoLink.GenerateUrl(item.CategoryName), @SeoLink = item.SeoLink })" class="post-title">@item.Title</a>
                                    <div class="post-meta d-flex justify-content-between">
                                        <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>@item.CommentCount </a>
                                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> @item.ViewCount</a>

                                    </div>
                                </div>
                            </div>
                        }


                        <!-- Single Blog Post -->

                    </div>

                    <!-- ***** Single Widget ***** -->
                    <!-- ***** Single Widget ***** -->
                    <div class="single-widget add-widget mb-50">
                        <a href="@Model.Adslist[0].Link" target="_blank"><img src="~/Areas/Admin/Content/QC_Image/@Model.Adslist[0].ImagePath" alt=""></a>
                    </div><!-- ***** Sidebar Widget ***** -->
                    <!-- ***** Single Widget ***** -->
                    <div class="single-widget newsletter-widget mb-50">
                        <!-- Section Heading -->
                        <div class="section-heading style-2 mb-30">
                            <h4>Look up detailed content</h4>
                            <div class="line"></div>
                        </div>
                        <p>Please enter the specific <span style="color:orangered; font-weight:bold"> Content , Keywords, or Text</span>  you want to search for</p>
                        <!-- Newsletter Form -->
                        <div class="newsletter-form">
                            <form action="/searchinpostdetail" method="post">

                                <input type="search" name="SearchTextDetail" class="form-control mb-15" id="SearchTextDetail" placeholder="Enter your text">
                                <button type="submit" class="btn vizew-btn w-100">Search details <i class="fa fa-safari" aria-hidden="true" style="font-size:23px"></i> </button>
                            </form>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>


</section>
<!-- ##### Vizew Psot Area End ##### -->
<!-- ##### Trending Posts Area Start ##### -->
<section class="trending-posts-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading -->
                <div class="section-heading">
                    <h4>Training Videos</h4>
                    <div class="line"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Single Blog Post -->
            @foreach (var item in Model.Videos)
            {
                <div class="col-12 col-md-4">
                    <div class="single-post-area mb-80">
                        <!-- Post Thumbnail -->
                        <div class="post-thumbnail">

                            @Html.Raw(item.VideoPath)

                            <!-- Video Duration -->
                            <span class="video-duration">05.03</span>
                        </div>

                        <!-- Post Content -->
                        <div class="post-content">

                            <a href="@item.OriginalVideoPath" target="_blank" class="post-title">@item.Title <p></p> @item.AddDate.ToString("dd.MM.yyyy, dddd")</a>

                        </div>
                    </div>
                </div>
            }


            <!-- Single Blog Post -->

        </div>

    </div>

</section>
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        const mainImage = document.querySelector(".main-image");
        const thumbnails = document.querySelectorAll(".thumbnail");
        const title = document.querySelector(".title");
        const description = document.querySelector(".description");

        const sliderContent = [
            {
                title: "Welcome to DUSTIN ACADEMY...",
                description: "Welcome to our course website!  ",
                image: '/Content/SliderImage/slider1.jpg'



            },
            {
                title: "Welcome to DUSTIN ACADEMY...",
                description: "Created by DusTis, also known as Nguyen Tien Duc!!",
                image: '/Content/SliderImage/slider2.jpg'

            },
            {
                title: "Welcome to DUSTIN ACADEMY...",
                description: "Explore our platform and start learning today!",
                image: '/Content/SliderImage/slider3.jpg'



            }
        ];

        const images = sliderContent.map(item => item.image);

        let currentIndex = 0;

        function changeBackground(index) {
            mainImage.style.backgroundImage = `url(${images[index]})`;

            thumbnails.forEach((thumbnail) => {
                thumbnail.classList.remove('active');
            });
            thumbnails[index].classList.add('active');
            currentIndex = index;

            // Update description content
            description.textContent = sliderContent[index].description;
        }

        thumbnails.forEach((thumbnail, index) => {
            thumbnail.style.backgroundImage = `url(${images[index]})`;
            thumbnail.addEventListener("click", () => {
                changeBackground(index);
            });
        });

        function autoChangeBackground() {
            currentIndex = (currentIndex + 1) % images.length;
            changeBackground(currentIndex);
        }

        // Set initial title and description
        title.innerHTML = sliderContent[currentIndex].title;
        description.textContent = sliderContent[currentIndex].description;
        mainImage.style.backgroundImage = `url(${images[currentIndex]})`;
        thumbnails[currentIndex].classList.add('active');

        setInterval(autoChangeBackground, 3500);
    });




</script>
<script defer>
    document.querySelector('.scroll-button').addEventListener('click', function () {
        document.getElementById('courses-section').scrollIntoView({ behavior: 'smooth' });
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const pagerArea = document.querySelector(".vizew-pager-area");
        const slidershow = document.querySelector(".slidershow");

        const slidershowPosition = slidershow.getBoundingClientRect();

        if (slidershowPosition.top < window.innerHeight && slidershowPosition.bottom >= 0) {
            pagerArea.style.display = "none";
        } else {
            pagerArea.style.display = "block";
        }

        document.addEventListener("scroll", function () {
            const slidershowPosition = slidershow.getBoundingClientRect();

            if (slidershowPosition.top < window.innerHeight && slidershowPosition.bottom >= 0) {
                pagerArea.style.display = "none";
            } else {
                pagerArea.style.display = "block";
            }
        });
    });

</script>
<!-- ##### Trending Posts Area End ##### -->
